body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif;
    color: #424243;
    user-select: none;
    touch-action: manipulation;
    pointer-events: auto;
}

body {
    --moves-badge-display: flex;
    --moves-badge-counter: 0;
    --blow-color-badge-display: none;
    --blow-color-badge-counter: 0;
    --blow-nearby-badge-display: none;
    --blow-nearby-badge-counter: 0;
    --any-color-badge-display: none;
    --any-color-badge-counter: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px 6px;
    transition: all 0.1s ease-in;
}

.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 12px;
    overflow: visible;
}

.timer {
    width: 100%;
    height: 8px;
    /*background: #ccc;*/
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    font-weight: 700;
    /*border: 2px solid #ccc;*/
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 3px #999, inset -1px -1px 3px #ccc;
}

.timer_filler {
    display: block;
    width: 100%;
    height: 100%;
    background-color: unset;
    border-radius: 1px;
    transition: all 0.3s linear;
}


.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 12px;
    width: 100%;
    overflow: visible;
}

.score-counter, .best-score, .new-game-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    gap: 6px;
    transition: transform 0.1s ease-in;
    transform-origin: center center;
    transform: scale(1);
    font-size: 24px;
    font-weight: 700;
    padding: 0 12px;
    overflow: visible;
}

.score-counter__bounce {
    transform: scale(1.5);
    color: rgb(0, 119, 237);
}

.boosters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    overflow: visible;
}

.button {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 119, 237);
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    overflow: visible;
    transition: all 0.3s;
    z-index: 1;
}

.button:active {
    background-color: rgba(0, 119, 237, .1);
}

.button:disabled {
    border: 2px solid rgb(204, 204, 204);
}

.button:disabled > svg {
    fill: rgb(204, 204, 204);
}

#booster-blow-color .button-badge,
#booster-show-move .button-badge,
#booster-blow-nearby .button-badge,
#booster-any-color .button-badge {
    display: none;
    content: unset;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    min-width: 2em;
    min-height: 2em;
    font-size: small;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    background-color: rgb(0, 119, 237);
    border-radius: 50%;
    border: 2px solid white;
}

#booster-blow-color .button-badge {
    content: var(--blow-color-badge-counter);
    display: var(--blow-color-badge-display);
}

#booster-show-move .button-badge {
    content: var(--moves-badge-counter);
    display: var(--moves-badge-display);
}

#booster-blow-nearby .button-badge {
    content: var(--blow-nearby-badge-counter);
    display: var(--blow-nearby-badge-display);
}

#booster-any-color .button-badge {
    content: var(--any-color-badge-counter);
    display: var(--any-color-badge-display);
}

#booster-show-move[disabled=disabled]:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 119, 237, .1);
    z-index: -1;
    animation-name: height-rise;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes height-rise {
    from {
        height: 0;
    }
    to {
        /* returns the sun to its default position */
        height: 100%;
    }
}

canvas {
    border: 2px solid #ccc;
    border-radius: 6px;
}

.controllers {
    width: 100%;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 12px;
    overflow: visible;
}

.controllers-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 2px solid rgb(0, 119, 237);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 119, 237);
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    overflow: visible;
}

.controllers-item__secondary {
    border: none;
    cursor: pointer;
}

.controllers-item__enabled {
    background-color: rgb(0, 119, 237);
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.controllers-item[data-role="checkbox"] {
    border: 2px solid #ccc;
}

.controllers-item__enabled.controllers-item[data-role="checkbox"] {
    border: 2px solid rgb(0, 119, 237);
}

.controllers-item[data-role="checkbox"]::before {
    content: '';
    position: absolute;
    left: 0.5em;
    display: block;
    width: 1em;
    height: 1em;
    background-color: white;
    border: 2px solid rgb(0, 119, 237);
    border-radius: 3px;
    transition: all 0.25s ease-in-out;
}

.controllers-item__enabled.controllers-item[data-role="checkbox"]::before {
    content: url("material-icon_check.svg");
}

#show-move-button.controllers-item:after {
    display: var(--moves-badge-display);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    min-width: 1.5em;
    min-height: 1.5em;
    font-size: small;
    content: var(--moves-badge-counter);
    position: absolute;
    right: -0.5em;
    top: -0.75em;
    background-color: rgb(0, 119, 237);
    border-radius: 50%;
    border: 2px solid white;
}

.statistics {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 2px;
    transition: all 1s;
}

.statistics > div {
    width: 0;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    transition: all 0.5s;
}

@media (orientation: landscape) {
    .app-container, .app-container > canvas {
        width: 480px;
    }

    .controllers-item {
        font-size: 16px;
    }
}

@media (orientation: portrait) {
    .app-container, .app-container > canvas {
        width: 100%;
    }

    .controllers-item {
        font-size: 12px;
    }
}

.bomb {
    width: 100%;
    color: white;
}

#change-lang-button {
    font-size: small;
    margin-top: 20px;
}
